<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/jquery-migrate-1.1.1.js"></script>
    <script src="/Scripts/script.js"></script>
    <script src="/Scripts/superfish.js"></script>
    <script src="/Scripts/jquery.equalheights.js"></script>
    <script src="/Scripts/jquery.mobilemenu.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script src="/Scripts/tmStickUp.js"></script>
    <script src="/Scripts/jquery.ui.totop.js"></script>
    <script src="/Scripts/touchTouch.jquery.js"></script>
    <script src="/Scripts/jquery.ui.totop.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  });
    </script>
   
    <meta name="description" content="The description of my page" />
</head>

<body class="page1" id="top">
    <!--==============================
                  header
    =================================-->
    <header>
        <!--==============================
                    Stuck menu
        =================================-->
        <section id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            
                                <img src="/Content/Images/logo.png" alt="Logo alt">
                            



                        </h1>
                        <div class="navigation">
                            <nav>
                                <ul class="sf-menu">
                                    
                                    <li>@Html.ActionLink("home", "Index", "Admin")</li>
                                    <li>@Html.ActionLink("foods", "Foods", "Admin")</li>
                                    <li>@Html.ActionLink("profile", "Login", "Admin")</li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <!--=====================
              Content
    ======================-->

    @RenderBody()

    <!--==============================
                  footer
    =================================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="grid_12">

                    <div class="copyright">
                        <span class="brand">Gediz University</span> &copy; <span id="copyright-year">2015</span>
                    </div>

                </div>
            </div>
        </div>
        
    </footer>
</body>
</html>

